<h1><%= params[:user_id] != nil ? t(:assign_courses) : t(:all_course) %></h1>

<%= will_paginate %>

<table class="table">
  <thead>
    <th><%= t 'name' %></th>
    <th><%= t 'description' %></th>
    <th><%= t 'start_date' %></th>
    <th><%= t 'end_date' %></th>
    <th><%= t 'supervisor' %></th>
    <th><%= t 'trainee' %></th>
  </thead>

  <%= render @courses %>

</table>

<%= will_paginate %>
